h2 {
    color: cadetblue;
    font-size: 100px;
    font-family: fantasy;
    text-align: center;
    text-shadow: 10px 10px 10px lemonchiffon;
}
p {
    text-transform:inherit;
    list-style: armenian;
}
.about-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
  .about-page h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about-page p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  